<main>
    <h1 class="text-center mb-3">Editar - Produtos</h1>

    {{!-- Formulário Editar --}}
    <form action="/editar" method="post" enctype="multipart/form-data">

        <div class="row mb-3">
            <div class="row">
                <div class="col text-center mb-4">
                    <img src="./../image/{{produto.imagem}}" alt="imagem do produto" width="300">
                </div>
            </div>
            <div class="col d-none">
                <input type="hidden" name="nomeImage" value="{{produto.imagem}}">
            </div>
            <div class="col d-none">
                <label for="codigo">Código</label>
                <input type="text" id="codigo" name="codigo" value="{{produto.codigo}}" class="form-control">
            </div>
            <div class="col">
                <label for="produto">Nome</label>
                <input type="text" name="produto" id="produto" value="{{produto.nome}}" class="form-control">
            </div>
            <div class="col">
                <label for="valor">Valor</label>
                <input type="text" name="valor" id="valor" value="{{produto.valor}}" class="form-control">
            </div>
            <div class="col">
                <label for="qtd">Quantidade</label>
                <input type="text" name="qtd" id="qtd" value="{{produto.qtd}}" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="imagem">Imagem do produto</label>
                <input type="file" name="imagem" id="imagem" class="form-control">
                {{!-- <input type="file" name="imagem" /> --}}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary w-25">Alterar</button>
        <a href="/">
            <span class="btn btn-outline-warning w-25">Voltar</span>
        </a>
    </form>

</main>