<main>
    <script>
        function 
    </script>
    <h1 class="text-center">Cadastrar Produtos</h1>

    {{!-- Formulário --}}
    <form action="/cadastrar" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col">
                <label for="produto">Nome</label>
                <input type="text" name="produto" id="produto" class="form-control">
            </div>
            <div class="col">
                <label for="valor">Valor</label>
                <input type="text" name="valor" id="valor" class="form-control">
            </div>
            <div class="col">
                <label for="qtd">Quantidade</label>
                <input type="text" name="qtd" id="qtd" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="imagem">Imagem do produto</label>
                <input type="file" name="imagem" id="imagem" class="form-control">
                {{!-- <input type="file" name="imagem" /> --}}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary w-25">Cadastrar</button>
        
        <a href="/pedido">
            <span class="btn btn-outline-success w-25">Pedidos</span>
        </a>
    </form>

    {{!-- Listagem --}}
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header text-center bg-primary text-white h3">Produtos</div>
                <div class="card-body">
                    <div class="row text-center">
                        {{#each produtos}}
                            <div class="col-12 col-sm-2 border border-success">
                                <img width="200" height="175" src="../image/{{imagem}}" alt="produto-imagem">
                                <div class="textos">
                                    <span>{{nome}}</span>
                                    <span>Valor: R$ {{valor}}</span>
                                </div>
                                <a href="/editar/{{codigo}}" class="btn btn-outline-warning w-100 mt-1 mb-1">Alterar</a>
                                <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-outline-danger w-100 mb-2">Remover</a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>